@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  box-sizing: border-box;
}
html {
  color: #222;
  font-size: 1em;
  /*line-height: 1.4;*/
  height: 100%;
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'Exo 2', sans-serif;
  background: #fafafa;

  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
  /*height: 100%;*/
}

h1 {
  font-size: 3rem;
  margin-top: 0.67em;
  margin-bottom: 0;
}

h2{
  font-size: 2rem;
  margin-bottom: 0;
}
h3{
  font-size: 1.5rem;
  margin-bottom: 0;
}

li {
  color: #222222;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
}

p {
  color: #222222;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}





.gap-middle{
  gap: 1rem;
}


* {
  box-sizing: border-box;
  /*border: 1px solid #80FF1C;*/
}
section{
  width: 100%;
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}
.flex-center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 1110px;
  max-width: 100%;
  padding-left: clamp(6px,4vw,2rem);
  padding-right: clamp(6px,4vw,2rem);
}

.games-list {
  height: 100vh;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.wrapper-regrow {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*gap: 2rem;*/
}


.full-height {
  height: 100%;
}

.homepage-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.justify-content-sb {
  flex-grow: initial;
}

.top-bar {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: row;
  padding-left: clamp(1rem,4vw,1.2rem);
  padding-right: clamp(1rem,4vw,1.2rem);
  background: #fafafa;
  align-items: center;
  position: fixed;
  z-index: 1000;
  gap: 2rem;
}

.stage {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-active-block {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hero-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
  flex-wrap: wrap;
}

.game-card {
  width: 342px;
  height: 470px;
  background-color: #6083FF;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.game-card:hover .game-logo-middle {
  width: 80%;
  height: auto;
  transition: all 0.2s ease-in-out
}

.game-card:hover {
  box-shadow: 0 8px 0 #000000;
  border-radius: 7px;
  transition: all 0.2s ease-in-out;
}

.game-card:not(:hover) {
  transition: width 0.4s ease-in-out;
}

.game-card:not(:hover) .game-logo-middle {
  transition: all 0.2s ease-in-out
}


.game-card-info {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}


.game-logo-middle {
  width: 240px;
  height: auto;
}

.game-logo-big {
  width: 100%;
  max-width: 500px;

  height: auto;
}

.bg-card-regrow {
  background-image: url("../img/regrow-bg.webp");
}

.bg-card-regrow2 {
  background-image: url("../img/regrow-bg.webp");
}

.bg-card-save-the-fluffy {
  background-image: url("../img/safethefluffy-bg.webp");
}

.bg-card-safefluffy2 {
  background-image: url("../img/safethefluffy-bg.webp");
}

.thumbnail-regrow {
  background-image: url("../img/banner-regrow.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 90vh;
}

.thumbnail-safethefluffy {
  background-image: url("../img/banner-safethefluffy.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.follow-regrow {
  background-image: url("../img/regrow-follow.webp");
  background-size: 70% auto;
  background-repeat: no-repeat;
  background-position: -10% 15%;
}

footer {
  width: 100%;
  background-color: black;
  height: 100px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 200px;
}

.text-button {
  text-decoration: none;
  color: white;
}

.games-container {
  padding: 100px 4vw 100px 4vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}

.trailer {
  /*height: 300px;*/
  width: 100%;
  max-width: 500px;
  border-radius: 16px;
  border: 0;
  aspect-ratio: 16/9;
}

.banner {
  height: 380px;
  background-color: #184BE5;
  border-radius: 36px;
  display: flex;
  flex-direction: row-reverse;
  padding: 0 10% 0 0;
  color: white;
}

.banner-part {
  display: flex;
  align-items: center;
  justify-content: center;
}


.sm-button {
  background: rgba(256, 256, 256, 0.2);
  border-radius: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  /*width: 70px;*/
  /*height: 70px;*/
  padding: 0;
  transition: all 0.1s ease-in-out;
}

.sm-button:hover {
  content: '';
  background: rgba(256, 256, 256, 0.4);
  transition: all 0.1s ease-in-out;
  transform: scale(1.1)
}

.follow-block {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.follow-button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  width: 100%;
}

.store-button {
  transition: all 0.1s ease-in-out;
}

.store-button:hover {
  transition: all 0.1s ease-in-out;
  transform: scale(1.1);
}

.sm-icon {
  width: 60px;
  height: auto;
}

.platform-icon {
  width: 40px;
  height: auto;
  opacity: 0.5;
}

.screenshot-container {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*gap: 30px;*/
  /*flex-wrap: wrap;*/
  /*flex-shrink: 2;*/


  display: grid;
  grid-gap: clamp(12px,2vw,1rem);
  grid-template-columns: repeat(1, 1fr);
  /*grid-template-columns: repeat(auto-fit, minmax(100px, 300px));*/
}

.screenshot {
  width: 100%;
  /*max-width: 350px;*/
  height: auto;
  border-radius: 12px;

}

.screenshot-vertical {
  max-width: 350px;
  width: 100%;
  height: auto;
  border-radius: 12px;
}

.page-navigation-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
}

.page-text-button {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #C8C8C8;
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 25px;
}

.page-text-button:hover {
  color: black;
}

.first-container-padding {
  padding-top: 80px;
  /*min-height: 90vh;*/
}

.support-block {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  width: 100%;
  max-width: 500px;
  text-align: center;
  background-color: #184BE5;
  border-radius: 12px;
  padding: 40px 20px 40px 20px;
}

.support-block p {
  color: white;
}

.support-block h1 {
  margin: 0;
}

.feedback-sub-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.table {
  width: 100%;
  overflow-x: scroll;
  /*overflow: scroll;*/
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.thumbnail {
  /*margin: 10px;*/
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.thumbnail:hover{
  scale: 1.4;
  transition: all 0.1s ease-in-out;
}

.modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;

  overflow-y: scroll;
  inset: 0; }


/*.modal-content {*/
/*  display: block;*/
/*  !*margin: 0 auto;*!*/
/*  !*max-width: 80%;*!*/
/*  !*max-height: 80%;*!*/
/*  width: 100%;*/
/*  height: auto;*/
/*  max-width: 1000px;*/
/*  max-height: 1080px;*/
/*  padding: 2rem;*/
/*  border-radius: 4rem;*/
/*  cursor: none;*/
/*}*/

.close {
  position: absolute;
  top: 20px;
  right: 2rem;
  font-size: clamp(1rem,10vw,4rem);
  cursor: pointer;
  color: #000000;
}

.video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}


.fullscreen-section {
  position: relative;
  height: 100vh;
  max-height: 1080px;
  overflow: hidden;
}

.section-70vh{
  height: 70vh;
  max-height: 700px;
  min-height: 700px;
}

.company-bg{
  background-image: url("../img/company.jpg");
  object-fit: fill;
  background-position: center top;
  /*background-size: 140% auto;*/
  /*background-size: cover;*/
  background-repeat: no-repeat;
}



.regrow-hero{
  padding-top: 64px;
  /*width: 100%;*/
  /*height: 75vh;*/

  width: 100%;
  height: 80vh;
  /*max-height: 800px;*/
  position: relative;


  /*display: block;*/
  /*position: relative;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
}
.regrow-hero-info{
  position: relative;
}
.hero-video{
  /*position: relative;*/
  /*aspect-ratio: 16.9;*/
  height: 100%;
  object-fit: cover;

  position: relative;
  /*object-fit: cover;*/
  background-repeat: no-repeat;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  filter: brightness(20%);
}
.fade{
  background-color: rgb(0 0 0 / 52%);
  width: 100%;
  height: 100%;
  /*position: absolute;*/
  /*z-index: 1;*/
}

.hero-block-info {
  /*padding-top: 10vh;*/
  /*padding-bottom: 10vh;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
  flex-wrap: wrap;
  /*background-color: rgb(0 0 0 / 52%);*/
  width: 100%;
  height: 100%;

  /*z-index: 1;*/
  /*position: relative;*/

  /*height: 100%;*/
  /*width: fit-content;*/
  /*max-width: 60%;*/
  /*padding-left: 10%;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: center;*/
  /*align-content: flex-end;*/
  /*pointer-events: auto;+*/
}

#videoMessage{
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.hero-block{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.on{
  display: block !important;
}

.off{
  display: none !important;
}


.regrow-page-menu{
  position: absolute;
  width: 100%;
  padding: 0rem 0rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  /*backdrop-filter: blur(12px);*/
  z-index: 1;;
  text-decoration: none;
}
.regrow-page-menu a{
  color: rgba(255, 255, 255, 0.66);
  padding: 1rem;
  text-decoration: none;
  font-weight: 500;
}

.regrow-page-menu a:hover{
  color: #ffffff;
  padding: 1rem;
}

.team-members{
  /*display: grid;*/
  /*grid-template-columns: repeat(auto-fit, minmax(100px, 300px));*/
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 3rem 1rem;
}

.member{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-decoration: none;
  /*justify-content: flex-start;*/
  text-align: center;
}

.member span:nth-child(2){
  font-size: 1.2rem;
  font-weight: 700;
}

.member:last-child{
  background-color: #eaeaea;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}

.member span:nth-child(3){
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
}
.member a{
  text-decoration: none;
}


.member img{
  width: 100%;
  /*-webkit-filter: grayscale(100);*/
  max-width: 200px;
  height: auto;
  min-height: 200px;
  background-color: #cccccc;
  border-radius: 100%;
  aspect-ratio: 1.1;
  object-fit: cover;
}

.team-members>* {
  flex: 1 1 200px;
}
.about-company-info{
  /*background-color: rgba(0, 0, 0, 0.15);*/
  color: white;
  padding: 1rem;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-top: 1.5rem;
  text-align: center;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.history-container{
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 768px){
  .history-block{
    grid-template-columns: repeat(1, 1fr)!important;
  }
}
.history-block{
  display: grid;
  /*grid-template-columns: 100px 1fr 400px;*/
  grid-template-columns: repeat(2, 1fr);
  /*grid-template-columns: repeat(auto-fill, minmax(400px,1fr));*/
  grid-gap: 1rem;
  /*grid-template-columns: repeat(auto-fit, minmax(100px, 300px));*/
  /*display: flex;*/
  /*flex-direction: row;*/
  /*flex-wrap: wrap;*/
}
.history-block img{
  width: 100%;
  height: auto;
}
.history-element{
  min-width: 200px;
  height: auto;
}
